*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2d572c;
}

.container{
    margin-top: 1rem;
    display: flex;
    justify-content:space-around;
    padding: 10px;
    

}
.column{
    width: 30%;
    min-height: 500px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid gray;
    background-color: rgb(245, 177, 165);
    padding: 1%;
    font-weight: bold;
    
   
}

.card{
    background-color: wheat;
    padding: 10px;
    margin: 10px;
    
}